.counter-container{
    width: 40%;
    margin: auto;
}
.counter-container .counter{
    height: 10rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}